.root {
  flex-grow: 1;
  min-height: '100vh';
  display: 'flex';
}

header {
  background-color: #0c1a02;
  padding: 10px;
  display: flex;
  align-items: center;
}

header img {
  height: 40px;
  margin-right: 10px;
}

header span {
  font-size: 1.2em;
  font-weight: bold;
}